<p-panel header="Тестовое задание" [toggleable]="true" styleClass="mb-4">
  <ul>
    <li>
      Загрузка списка пользователей с API
    </li>
    <li>
      Поиск по имени (фильтр по name)
    </li>
    <li>
      Сортировка по городу (по address.city)
    </li>
    <li>
      Кнопка "Подробнее" – при клике показывает email и телефон пользователя
    </li>
    <li>
      Добавить Loader (индикатор загрузки).
    </li>
    <li>
      Обработать ошибки API (например, если сервер не отвечает).
    </li>
    <li>
      Использовать ChangeDetection.OnPush.
    </li>
  </ul>
</p-panel>
